
/*Estilos para login */
.login-centrado{
    align-items: center;
    height: 80vh;
}
.btn{
    margin: 1%;
    background-color: #fad201;
    color: black;
}
#email{
  margin-bottom: 15px;
}
#password{
  margin-bottom: 15px;
}

