<app-navclose></app-navclose>

<div class="container mt-5" style="margin-bottom: 50px;">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="rounded-box">
                <div class="d-flex align-items-center justify-content-center titulo-edit-alumno">
                    <h1 style="margin-top: 15px; padding-right: 60px;">Elba Gallo</h1>
                    <button data-bs-toggle="modal" data-bs-target="#editUsuarioModal" class="btn btn-primary btn-lm me-2"><i class="fa-solid fa-pen-to-square text-white fa-lg"></i></button>
                </div>
                
                <div class="d-flex mb-3">
                    <a type="button" routerLink="/vAdminPlanif"
                        class="btn btn-primary btn-sm me-2 custom-button">Planificaciones</a>
                </div>
                <div class="col-md-6">
                    <h3>Mail</h3>
                    <h4>mrsaractunga@gmail.com</h4>
                    <hr>
                    <h3>Teléfono</h3>
                    <h4>261455471</h4>
                    <hr>
                    <h3>Edad</h3>
                    <h4>25</h4>
                    <hr>
                    <h3>Peso</h3>
                    <h4>65</h4>
                    <hr>
                    <h3>Altura</h3>
                    <h4>1.77</h4>
                    <hr>
                    <h3>Sexo</h3>
                    <h4>Mujer</h4>
                    <hr>
                </div>
                <div style="display: flex; justify-content: space-between;">
                    <div>
                        <button class="btn btn-danger btn-lm" data-bs-toggle="modal" data-bs-target="#eliminarModal"><i class="fa-solid fa-trash fa-lg"></i></button>
                    </div>
                    <div>
                        <a routerLink="/vAdmin"><button class="btn btn-primary btn-lm"><i class="fa-solid fa-left-long fa-lg"></i></button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Editar Alumno s -->
<div class="modal fade" id="editUsuarioModal" tabindex="-1" aria-labelledby="editUsuarioModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editUsuarioModalLabel">Editar Usuario</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- Formulario para editar -->
                <form>
                    <div class="mb-3">
                        <label for="nombre" class="form-label">Nombre</label>
                        <input type="text" class="form-control" id="nombre">
                    </div>
                    <div class="mb-3">
                        <label for="apellido" class="form-label">Apellido</label>
                        <input type="text" class="form-control" id="apellido">
                    </div>
                    <div class="mb-3">
                        <label for="dni" class="form-label">DNI</label>
                        <input type="number" class="form-control" id="dni">
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" class="form-control" id="email">
                    </div>
                    <div class="mb-3">
                        <label for="telefono" class="form-label">Teléfono</label>
                        <input type="number" class="form-control" id="telefono">
                    </div>
                    <div class="mb-3">
                        <label for="edad" class="form-label">Edad</label>
                        <input type="number" class="form-control" id="edad">
                    </div>
                    <div class="mb-3">
                        <label for="peso" class="form-label">Peso</label>
                        <input type="number" class="form-control" id="peso">
                    </div>
                    <div class="mb-3">
                        <label for="altura" class="form-label">Altura</label>
                        <input type="number" class="form-control" id="altura">
                    </div>
                    <div class="mb-3">
                        <label for="sexo" class="form-label">Sexo</label>
                        <input type="number" class="form-control" id="sexo">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-danger" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary btn-success" >Guardar</button>
            </div>
        </div>
    </div>
</div>

<!-- Eliminar? -->
<div class="modal" id="eliminarModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Eliminar Usuario</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>¿Está seguro que desea eliminar a este Usuario?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-danger">Eliminar</button>
            </div>
        </div>
    </div>
</div>
