<!-- <nav class="navbar navbar-expand-lg navbar-dark fixed-top">
  <div class="container-fluid">
    <a routerLink="/home"><img src="assets/logo.png" class="logo"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#menuLateral">
      <span class="navbar-toggler-icon"></span>
    </button>
    <section class="offcanvas offcanvas-end" id="menuLateral" tabindex="-1">
      <div class="offcanvas-header" data-bs-theme="dark">
        <button class="btn-close" type="button" aria-label="Close" data-bs-dismiss="offcanvas">
        </button>
      </div>
      <div class="offcanvas-body d-flex flex-column justify-content-between px-0">
        <ul class="navbar-nav fs-5 justify-content-evenly">
          <li *ngIf="rutavisible" class="nav-item p-3 py-md-1">
            <a routerLink="/login" class="nav-link">INGRESAR</a>
          </li>
          <li class="nav-item p-3 py-md-1">
            <a (click)="scrollToPrecio()" class="nav-link">PRECIOS</a>
          </li>
          <li class="nav-item p-3 py-md-1">
            <a (click)="scrollToProfes()" class="nav-link">PROFES</a>
          </li>
          <li class="nav-item p-3 py-md-1">
            <a (click)="scrollToContacto()" class="nav-link">CONTACTO</a>
          </li>
        </ul>
      </div>
    </section>
  </div>
</nav> -->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
      <a class="navbar-brand" routerLink="/home">
          <i class="fa-solid fa-dumbbell fa-2x"></i>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div *ngIf="rutavisible" class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a (click)="scrollToPrecio()" class="nav-link">PRECIOS</a>
              </li>
              <li class="nav-item">
                <a (click)="scrollToProfes()" class="nav-link">PROFES</a>
              </li>
              <li class="nav-item">
                <a (click)="scrollToContacto()" class="nav-link">CONTACTO</a>
              </li>
          </ul>
      </div>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
          <ul *ngIf="rutavisible" class="navbar-nav">
            <a routerLink="/login" class="nav-link">INGRESAR</a>
              
          </ul>
      </div>
  </div>
</nav>