/* Fondo */
body {
    background-color: rgb(95, 95, 95);
}

h1 {
    font-size: 35px;
    font-family: 'tittlefont';
    color: #f1be16;
    padding: 15px;
    letter-spacing: 2px;
    text-shadow: -2px -2px 0 #1e293b, 2px -2px 0 #1e293b, -2px 2px 0 #1e293b, 2px 2px 0 #1e293b;
}

.title-main{
    font-size: 45px;
    text-align: center;
    margin-bottom: 40px;
    margin-top: 50px;
}


/* Otros Ajustes*/
.portada {
    max-width: 85%;
    height: auto;
    display: block;
    margin: auto;
    margin-top: 66px;
    margin-bottom: 90px
}
.altura-min-1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 85vh;
}
.altura-min-2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
}
.altura-min-3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
}

@font-face {
    font-family: 'tittlefont';
    src: url(assets/commando-webfont.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}

/* clases y planificaciones*/

.card-space{
    padding-bottom: 20px;
}
.card-clase {
    background-position: center;
    border-radius: 15px;
    background: rgba(255, 255, 255, .70);
    box-shadow: 25px 25px 50px #4e4e4e4a, -25px -25px 50px #70707070;
    border: 2px solid black;
}
.card-c-header {
    text-align: center;
    background-color: #dc9900;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
} 
.card-c-body {
    border-top: 2px solid black;
    background-color: none;
} 
.event-card {
    margin-bottom: 20px;
} 
.card-c-title {
    font-weight: bold;
    font-size: 30px; 
} 
.card-c-text {
    font-size: 20px;
    color: #333;
    padding: 0 15px;
}

/*botones navegacion*/

.btn-primary{
    background-color: #1e293b;
}
.btn-secondary {
    background-color: #1e293b;
    border-color: #0b5ed7;
    margin-bottom: 15px;
  }
.btn-secondary:hover {
    background-color: #0b5ed7;
}
.dropdown-item {
    color: white;
}
.dropdown-item:hover {
    background-color: #f1be16;
}
.dropdown-menu {
    background-color: #1e293b;
}
.btn-outline-secondary{
    background-color: rgba(30, 41, 59, 0.7); 
    color: rgb(255,255,255);
}

/*paginacion*/

.nav-bar-num{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
    font-weight: bold;
}

/* Vista datos usuario */
.rounded-box {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    position: relative;
}
.custom-button {
    font-size: 24px;
    text-align: center;
    width: 200px;
}
.icon-link {
    text-decoration: none;
    color: inherit;
}

.list-group-item a {
    text-decoration: none;
    color: inherit;
}
.flecha{
    background-position-x: right;
}
