.error-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative; /* Create a positioning context for the circle */
}

.error-image-container {
    position: relative;
}

.circulo {
    margin-top: 80px;
    position: absolute;
    width: 93vh;
    height: 93vh;
    background-color: rgba(0, 0, 0, .85);
    border-radius: 50%;
    z-index: -1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.error-image {
    margin-top: 70px;
    max-width: 100%;
    max-height: 70vh;
}

.error-text {
    text-align: center;
}
