<app-navclose></app-navclose>

<div class="container mt-5" style="margin-bottom: 50px;">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="rounded-box">
                <h1 class="text-center mb-4">Elba Gallo</h1>
                <div class="d-flex mb-3">
                    <a type="button" routerLink="/vAlumnoPlanif" class="btn btn-primary btn-sm me-2 custom-button">Planificaciones</a>
                </div>
                <div class="col-md-6">
                    <h3>Mail</h3>
                    <h4>mrsaractunga@gmail.com</h4>
                    <hr>
                    <h3>Telefono</h3>
                    <h4>261455471</h4>
                    <hr>
                    <h3>Edad</h3>
                    <h4>25</h4>
                    <hr>
                    <h3>Peso</h3>
                    <h4>65</h4>
                    <hr>
                    <h3>Altura</h3>
                    <h4>1.77</h4>
                    <hr>
                    <h3>Sexo</h3>
                    <h4>Mujer</h4>
                </div>
            </div>
        </div>
    </div>
</div>
