<nav class="navbar navbar-expand-lg navbar-dark fixed-top">
  <div class="container-fluid">
    <a routerLink="/home"><img src="assets/logo.png" class="logo"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#menuLateral">
      <span class="navbar-toggler-icon"></span>
    </button>
    <section class="offcanvas offcanvas-end" id="menuLateral" tabindex="-1">
      <div class="offcanvas-header" data-bs-theme="dark">
        <button class="btn-close" type="button" aria-label="Close" data-bs-dismiss="offcanvas">
        </button>
      </div>
      <div class="offcanvas-body d-flex flex-column justify-content-between px-0">
        <ul class="navbar-nav fs-5 justify-content-evenly">
          <li class="nav-item p-3 py-md-1">
            <a routerLink="/login" class="nav-link">INGRESAR</a>
          </li>
          <li class="nav-item p-3 py-md-1">
            <a href="Promosid" class="nav-link">PRECIOS</a>
          </li>
          <li class="nav-item p-3 py-md-1">
            <a href="Profesid" class="nav-link">PROFES</a>
          </li>
          <li class="nav-item p-3 py-md-1">
            <a href="Contactosid" class="nav-link">CONTACTO</a>
          </li>
        </ul>
      </div>
    </section>
  </div>
</nav>