<app-navclose></app-navclose>

<div class="container mt-5">
    <div class="row center">
        <div class="col-md-8 offset-md-2">
            <h1 class="text-center mb-4">Bienvenido Profesor</h1>
            <div class="d-flex mb-3">
                <input type="text" class="form-control me-2 flex-grow-1" placeholder="Buscar usuario...">
                <button class="btn btn-outline-secondary" type="button"><i
                        class="fa-solid fa-magnifying-glass"></i></button>
            </div>
                            
            <!-- Paginación -->
            <ul class="list-group" style="overflow: scroll">
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <a routerLink="/vProfeAlumno">Usuario 1</a>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <a routerLink="/vProfeAlumno">Usuario 2</a>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <a routerLink="/vProfeAlumno">Usuario 3</a>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <a routerLink="/vProfeAlumno">Usuario 4</a>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <a routerLink="/vProfeAlumno">Usuario 5</a>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <a routerLink="/vProfeAlumno">Usuario 6</a>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <a routerLink="/vProfeAlumno">Usuario 7</a>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <a routerLink="/vProfeAlumno">Usuario 8</a>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <a routerLink="/vProfeAlumno">Usuario 9</a>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <a routerLink="/vProfeAlumno">Usuario 10</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<!-- Botones de Navegación -->
<nav aria-label="Page navigation example" class="nav-bar-num">
    <ul class="pagination">
        <li class="page-item">
            <a class="page-link" href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item">
            <a class="page-link" href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</nav>
