<div class="container mt-5" style="margin-bottom: 50px;">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="rounded-box">
                <div class="d-flex align-items-center justify-content-center titulo-edit-alumno">
                    <h1 style="margin-top: 15px; padding-right: 60px;">{{UserData.nombre}} {{UserData.apellido}}</h1>
                    <button *ngIf="selectedRole === 'admin'" data-bs-toggle="modal" data-bs-target="#editUsuarioModal"
                        class="btn btn-primary btn-lm me-2"><i
                            class="fa-solid fa-pen-to-square text-white fa-lg"></i></button>
                </div>
                <div *ngIf="UserData.rol === 'user'" class="d-flex mb-3">
                    <a type="button" (click)="verPlanif(UserData.dni)"
                        class="btn btn-primary btn-sm me-2 custom-button">Planificaciones</a>
                </div>
                <div class="col-md-6">
                    <h3>Mail</h3>
                    <h4>{{UserData.email}}</h4>
                    <hr>
                    <h3>Teléfono</h3>
                    <h4>{{UserData.telefono}}</h4>
                    <hr>
                    <div *ngIf="UserData.rol === 'user'">
                        <h3>Edad</h3>
                        <h4>{{AlumData?.edad}} años</h4>
                        <hr>
                        <h3>Peso</h3>
                        <h4>{{AlumData?.peso}} kg</h4>
                        <hr>
                        <h3>Altura</h3>
                        <h4>{{AlumData?.altura}} m</h4>
                        <hr>
                        <h3>Sexo</h3>
                        <h4>{{AlumData?.sexo}}</h4>
                        <hr>
                    </div>
                    <div *ngIf="UserData.rol === 'profesor'">
                        <h3>Especialidad</h3>
                        <h4>{{ProfData.especialidad}}</h4>
                        <hr>
                    </div>
                </div>
                <div style="display: flex; justify-content: space-between;">
                    <div>
                        <button *ngIf="selectedRole === 'admin'" class="btn btn-danger btn-lm" data-bs-toggle="modal"
                            data-bs-target="#eliminarModal"><i class="fa-solid fa-trash fa-lg"></i></button>
                    </div>
                    <div>
                        <a *ngIf="selectedRole === 'admin' || selectedRole === 'profesor'" routerLink="/vInicio"><button
                                class="btn btn-primary btn-lm"><i class="fa-solid fa-left-long fa-lg"></i></button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Editar Usuario -->
<div class="modal fade" id="editUsuarioModal" tabindex="-1" aria-labelledby="editUsuarioModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editUsuarioModalLabel">
                    {{ shouldEditUser() ? 'Editar Usuario' : 'Crear Usuario' }}
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- Formulario para editar -->
                <form [formGroup]='profileForm'>
                    <div class="mb-3" *ngIf="UserData.rol === 'user'">
                        <label for="edad" class="form-label">Edad</label>
                        <input type="number" class="form-control" formControlName="edad">
                    </div>
                    <div class="mb-3" *ngIf="UserData.rol === 'user'">
                        <label for="peso" class="form-label">Peso</label>
                        <input type="text" class="form-control" formControlName="peso">
                    </div>
                    <div class="mb-3" *ngIf="UserData.rol === 'user'">
                        <label for="altura" class="form-label">Altura</label>
                        <input type="text" class="form-control" formControlName="altura">
                    </div>
                    <div class="mb-3" *ngIf="UserData.rol === 'user'">
                        <label for="sexo" class="form-label">Sexo</label>
                        <input type="text" class="form-control" formControlName="sexo">
                    </div>
                    <div class="mb-3" *ngIf="UserData.rol === 'profesor'">
                        <label for="especialidad" class="form-label">Especialidad</label>
                        <input type="text" class="form-control" formControlName="especialidad">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-danger" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary btn-success" (click)="submit()"
                    data-bs-dismiss="modal">Guardar</button>
            </div>
        </div>
    </div>
</div>

<!-- Eliminar? Usuario -->
<div class="modal" id="eliminarModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Eliminar Usuario</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>¿Está seguro que desea eliminar a este Usuario?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-danger" (click)="borrarUsuario()"
                    data-bs-dismiss="modal">Eliminar</button>
            </div>
        </div>
    </div>
</div>

<div class="container" style="margin-bottom: 50px;" *ngIf="UserData.rol === 'profesor' || UserData.rol === 'admin'">
    <div class="row">
        <div class="col-lg-4 col-md-6 card-space">
            <div class="card-clase">
                <div class="card-c-header d-flex justify-content-between align-items-center">
                    <div>
                        <button style="margin-left: 7px;" *ngIf="selectedRole === 'admin'" class="btn btn-danger btn-lm" data-bs-toggle="modal"
                            data-bs-target="#eliminarModal"><i class="fa-solid fa-trash fa-lg"></i></button>
                    </div>
                    <h4 class="card-c-title">Lunes</h4>
                    <div>
                        <button *ngIf="selectedRole === 'admin'" data-bs-toggle="modal" data-bs-target="#editUsuarioModal"
                            class="btn btn-primary btn-lm me-2"><i
                                class="fa-solid fa-pen-to-square text-white fa-lg"></i></button>
                    </div>
                </div>
                <div class="card-c-body">
                    <p class="card-c-text">data</p>
                </div>
            </div>
        </div>
    </div>
</div>
