<!-- Tabla de planificación -->

<div class="container mt-5" style="margin-bottom: 50px;">
    <div class="row justify-content-center">
        <div class="col-md-8">

            <div class="rounded-box" style="margin-bottom: 25px;">
                
                <div class="d-flex align-items-center justify-content-center titulo-edit-alumno">
                    <h1 style="margin-top: 15px; padding-right: 50px;">Planificación</h1>
                    <button *ngIf="selectedRole === 'admin' || selectedRole === 'profesor'" data-bs-toggle="modal" data-bs-target="#editarPlanificacion" class="btn btn-primary btn-lm me-2"><i class="fa-solid fa-pen-to-square text-white fa-lg"></i></button>
                </div>

                <div class="col-md-6" *ngIf="UserPlanif && UserPlanif.length > 0">
                    <h5>Descripción</h5>
                    <h2>{{ UserPlanif[0]?.descripcion }}</h2>
                    <hr>
                    <h5>Fecha</h5>
                    <h2>{{ UserPlanif[0]?.fecha }}</h2>
                    <hr>
                    
                </div>
                <div style="display: flex; align-items: center; justify-content: flex-end;">
                    <button class="btn btn-primary btn-lm" (click)="verPerfil(perfilDni)">
                        <i class="fa-solid fa-left-long fa-lg"></i>
                    </button>
                </div>
                
            </div>
            <div>
                <div class="container" style="margin-bottom: 50px;">
                    <div class="row">
                        <div class="col-lg-4 col-md-6 card-space" *ngIf="UserPlanif[0]?.lunes">
                            <div class="card-clase">
                                <div class="card-c-header">
                                    <h4 class="card-c-title">Lunes</h4>
                                </div>
                                <div class="card-c-body">
                                    <p class="card-c-text">{{ UserPlanif[0]?.lunes }}</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 card-space" *ngIf="UserPlanif[0]?.martes">
                            <div class="card-clase">
                                <div class="card-c-header">
                                    <h4 class="card-c-title">Martes</h4>
                                </div>
                                <div class="card-c-body">
                                    <p class="card-c-text">{{ UserPlanif[0]?.martes }}</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 card-space" *ngIf="UserPlanif[0]?.miercoles">
                            <div class="card-clase">
                                <div class="card-c-header">
                                    <h4 class="card-c-title">Miércoles</h4>
                                </div>
                                <div class="card-c-body">
                                    <p class="card-c-text">{{ UserPlanif[0]?.miercoles }}</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 card-space" *ngIf="UserPlanif[0]?.jueves">
                            <div class="card-clase">
                                <div class="card-c-header">
                                    <h4 class="card-c-title">Jueves</h4>
                                </div>
                                <div class="card-c-body">
                                    <p class="card-c-text">{{ UserPlanif[0]?.jueves }}</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 card-space" *ngIf="UserPlanif[0]?.viernes">
                            <div class="card-clase">
                                <div class="card-c-header">
                                    <h4 class="card-c-title">Viernes</h4>
                                </div>
                                <div class="card-c-body">
                                    <p class="card-c-text">{{ UserPlanif[0]?.viernes }}</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 card-space" *ngIf="UserPlanif[0]?.sabado">
                            <div class="card-clase">
                                <div class="card-c-header">
                                    <h4 class="card-c-title">Sábado</h4>
                                </div>
                                <div class="card-c-body">
                                    <p class="card-c-text">{{ UserPlanif[0]?.sabado }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Modal para agregar nueva planificación -->
<div class="modal fade" id="editarPlanificacion" tabindex="-1" aria-labelledby="editarPlanificacionModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editarPlanificacionModalLabel">
                    Editar Planificación' : 'Crear Planificación
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- Formulario para cargar una nueva planificación -->
                <form [formGroup]="planifForm">
                    <div class="mb-3">
                      <label for="descripcion" class="form-label">Descripción</label>
                      <input type="text" class="form-control" formControlName="descripcion">
                    </div>
                    <div class="mb-3">
                      <label for="fecha" class="form-label">Fecha</label>
                      <input type="date" class="form-control" formControlName="fecha">
                    </div>
                    <div class="mb-3">
                      <label for="lunes" class="form-label">Lunes</label>
                      <input type="text" class="form-control" formControlName="lunes">
                    </div>
                    <div class="mb-3">
                      <label for="martes" class="form-label">Martes</label>
                      <input type="text" class="form-control" formControlName="martes">
                    </div>
                    <div class="mb-3">
                      <label for="miercoles" class="form-label">Miércoles</label>
                      <input type="text" class="form-control" formControlName="miercoles">
                    </div>
                    <div class="mb-3">
                      <label for="jueves" class="form-label">Jueves</label>
                      <input type="text" class="form-control" formControlName="jueves">
                    </div>
                    <div class="mb-3">
                      <label for="viernes" class="form-label">Viernes</label>
                      <input type="text" class="form-control"  formControlName="viernes">
                    </div>
                    <div class="mb-3">
                      <label for="sabado" class="form-label">Sábado</label>
                      <input type="text" class="form-control" formControlName="sabado">
                    </div>
                  </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-danger" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary btn-success" (click)="crearPlanificacion()" data-bs-dismiss="modal">Guardar</button>
            </div>
        </div>
    </div>
</div>
