.row {
    margin-right: 0;
    margin-left: 0;
}

.portada {
    max-width: 95%;
    height: auto;
    display: block;
    margin: auto;
    margin-top: 80px;
    margin-bottom: 90px
}
/* Horarios */
.card-hora-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 150px
}
.card-horario {
    background-color: #1e293b;
    border-radius: 15px;
    padding: 20px;
}
.tittle-horarios {
    font-size:30px;
    font-family:'tittlefont';
    color:#f1be16;
    letter-spacing: 1px;
  }
.text-horarios{
    font-size:15px;
    font-weight: bold;
    color:white;
}
.parpadea {
        animation-name: parpadeo;
        animation-delay: 0s;
        animation-duration: 4s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
}
@keyframes parpadeo {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}


/* Estililos para las clases */
#Clasesid{
    background-image: url(/assets/background_clases.jpg);
    background-size: cover;
    background-position: center;
}


/* Ajustar estilos de los Profes */
#Profesid{
    background-image:url(/assets/trining-rocky.gif);
    background-size: cover;
    background-position: center;
}
.card {
    border-radius: 15px;
    border: 2px solid rgb(241, 190, 22);
    width: 17rem;
}
.card-img-top {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    object-fit: cover;
}
.card-title {
    color: #333;
    align-items: center;
    justify-content: center;
    display: flex;
    font-weight: bold;
    min-height: 72px;
    font-size: 30px; 
}
.card-text {
    color: #777;
    align-items: center;
    justify-content: center;
    display: flex;
    min-height: 60px;
    font-size: 20px; 
}
#carouselExample{
    margin-bottom: 50px
}
.button-container {
    width:4pc;
    height: 4pc;
    background-color: rgba(241, 190, 22, 0.7);
    border-radius: 50%;
}
.btn{
    margin: 1%;
    background-color: #fad201;
    color: black;
}


/* Ajustar estilos de las Promos */
#Promosid{
    background-image: url(/assets/logo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-size: 70%;
}
.promo {
    background-color: #f8f9fa;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    min-width: 170px;   
    margin-right: 10px;
}
.promo-header{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-color: #59c9af;
}
.promo-title {
    color: #333;
    display: flex;
    justify-content: center;
}
.promo-text {
    color: #777;
    align-items: center;
    justify-content: center;
    display: flex;
    min-height: 50px;
    padding: 0 10px;
}


/* Estilos para Contactos */
#Contactosid{
    background-image: url(/assets/poly01.jpg);
    background-size: cover;
}


/* Estilos para el footer */
.footer {
    text-align: center;
    background-color: #1e293b;
}
.footer_text{
    color:#929ea7
}