<app-navbar></app-navbar>

<div>
    <img src="assets/elChicho.png" class="portada" alt="Gimnasio-El Chicho">
</div>


<!-- Horario -->
<div class="parpadea card-hora-container">
    <div class="card-horario">
        <p class="tittle-horarios">Horarios de Atención</p>
        <div>
            <p class="text-horarios">Lunes a Viernes de 8:00 a 20:00</p>
            <p class="text-horarios">Sábado de 8:00 a 13:30</p>
        </div>
    </div>
</div>


<!-- Clases -->
<div id="Clasesid" class="altura-min-1">
    <div>
        <h1 class="text-center title-main">Clases</h1>
    </div>
    <div class="container" style="margin-bottom: 50px;">
        <div class="row">
            <div class="col-lg-4 col-md-6 card-space">
                <div class="card-clase">
                    <div class="card-c-header">
                        <h4 class="card-c-title">Lunes</h4>
                    </div>
                    <div class="card-c-body">
                        <p class="card-c-text">Boxeo A: 9:00</p>
                        <p class="card-c-text">Posing Training: 13:00</p>
                        <p class="card-c-text">Karate B: 17:00</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 card-space">
                <div class="card-clase">
                    <div class="card-c-header">
                        <h4 class="card-c-title">Martes</h4>
                    </div>
                    <div class="card-c-body">
                        <p class="card-c-text">Karate B: 9:00</p>
                        <p class="card-c-text">Posing Training: 13:00</p>
                        <p class="card-c-text">Boxeo A: 17:00</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 card-space">
                <div class="card-clase">
                    <div class="card-c-header">
                        <h4 class="card-c-title">Miércoles</h4>
                    </div>
                    <div class="card-c-body">
                        <p class="card-c-text">Boxeo A: 9:00</p>
                        <p class="card-c-text">Posing Training: 13:00</p>
                        <p class="card-c-text">Karate B: 17:00</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 card-space">
                <div class="card-clase">
                    <div class="card-c-header">
                        <h4 class="card-c-title">Jueves</h4>
                    </div>
                    <div class="card-c-body">
                        <p class="card-c-text">Karate B: 9:00</p>
                        <p class="card-c-text">Posing Training: 13:00</p>
                        <p class="card-c-text">Boxeo A: 17:00</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 card-space">
                <div class="card-clase">
                    <div class="card-c-header">
                        <h5 class="card-c-title">Viernes</h5>
                    </div>
                    <div class="card-c-body">
                        <p class="card-c-text">Boxeo A: 9:00</p>
                        <p class="card-c-text">Posing Training: 13:00</p>
                        <p class="card-c-text">Karate B: 17:00</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 card-space">
                <div class="card-clase">
                    <div class="card-c-header">
                        <h5 class="card-c-title">Sábado</h5>
                    </div>
                    <div class="card-c-body">
                        <p class="card-c-text">Karate B: 9:00</p>
                        <p class="card-c-text">Posing Training: 13:00</p>
                        <p class="card-c-text">Boxeo A: 17:00</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Promos -->
<div id="Promosid" class="container altura-min-3">
    <h1 class="text-center title-main">Promos</h1>
    <div class="row mt-4 justify-content-center" style="margin-bottom: 50px">
        <div *ngFor="let promo of arrayPromos" class="col-md-3">
            <div class="promo">
                <div class="promo-header">
                    <h3 class="text-center">{{promo.mes}}</h3>
                </div>
                <div class="card-body text-center">
                    <h4 class="promo-title">{{promo.precio}}</h4>
                    <p class="promo-text">{{promo.info}}</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Profesores -->
<div id="Profesid" class="altura-min-3">
    <h1 class="text-center title-main">Nuestros Profes</h1>
    <div id="carouselExample" class="carousel slide">
        <div class="carousel-inner text-center">
            <div class="carousel-item active">
                <div class="d-inline-block mx-auto">
                    <div class="card">
                        <img src="assets/profe1.jpg" class="card-img-top" alt="MikeO'Hearn">
                        <div class="card-body">
                            <h5 class="card-title">Mike O'Hearn</h5>
                            <p class="card-text">Entrenador personal y culturista.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngFor="let profe of arrayProfes" class="carousel-item">
                <div class="d-inline-block mx-auto">
                    <div class="card">
                        <img src={{profe.foto}} class="card-img-top" alt="AlejandraOliveras">
                        <div class="card-body">
                            <h5 class="card-title">{{profe.nombre}}</h5>
                            <p class="card-text">{{profe.info}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
            <span class="carousel-control-prev-icon button-container" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
            <span class="carousel-control-next-icon button-container" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>


<!-- Contacto -->
<div id="Contactosid" class="altura-min-1">
    <section class="contacto">
        <h1 class="text-center mb-3 title-main">Contactanos</h1>
        <div class="d-flex justify-content-center">
            <form action="form-handler.php" method="post">
                <div class="form-group">
                    <input type="text" class="form-control mb-3" id="name" name="name" required placeholder="Nombre">
                    <input type="email" class="form-control mb-3" id="email" name="email" required placeholder="Email">
                    <textarea class="form-control mb-3" id="message" name="message"
                        placeholder="Dejá tu mensaje acá..."></textarea>
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-dark col-11">Enviar Mensaje</button>
                </div>
            </form>
        </div>
    </section>
</div>


<!-- Pie de Página -->
<footer class="footer py-3">
    <div class="text-center footer_text container">
        <div class="row">
            <div class="col-md-4">
                <h4><span style="font-size: 24px;"></span>📍 Visitanos</h4>
                <p>AV. Siempreviva 742 Mendoza, Argentina</p>
            </div>
            <div class="col-md-4">
                <h4><span style="font-size: 24px;"></span>📞 Teléfono</h4>
                <p>+54 261 4202017</p>
            </div>
            <div class="col-md-4">
                <h4><span style="font-size: 24px;"></span>✉️ Email</h4>
                <p>info@gimnasioelchicho.com.ar</p>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-12">
                <span>© 2023 Gimnasio "El Chicho".</span>
            </div>
        </div>
    </div>
</footer>