<app-navclose></app-navclose>

<div class="container mt-5" style="margin-bottom: 50px;">
    <div class="row justify-content-center">
        <div class="col-md-8">

            <div class="rounded-box" style="margin-bottom: 25px;">
                
                <div class="d-flex align-items-center justify-content-center titulo-edit-alumno">
                    <h1 style="margin-top: 10px;">Planificación</h1>
                </div>

                <div *ngFor="let des of arrayDesPlan" class="col-md-6">
                    <h5>Descripción</h5>
                    <h2>{{des.des}}</h2>
                    <hr>
                    <h5>Fecha</h5>
                    <h2>{{des.fecha}}</h2>
                    <hr>
                    
                </div>
                <div style="display: flex; align-items: center; justify-content: end;">
                    <a routerLink="/vAlumno"><button class="btn btn-primary btn-lm"><i class="fa-solid fa-left-long fa-lg"></i></button></a>
                </div>
            </div>

            <!-- Tabla de planificación -->
            <app-planificacion></app-planificacion>
        </div>
    </div>
</div>
